<h2><i class="fa fa-file-invoice"></i> Invoice Images</h2>

<%= render partial: 'admin/shared/image_list', locals: { object: @invoice_image } %>


<%= content_for :title do %>
	Invoice Images
<% end %>





<% content_for :breadcrumbs do %>
	<li><a href="#">eCommerce</a></li>
	<li class="active">Invoice Images</li>
<% end %>