<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= yield :title %></title>
  </head>
  <body bgcolor="#f6f6f6" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none;">

    <table style="max-width: 600px; margin: 0 auto; padding-bottom: 20px;">
      <tr>
    		<td style="background-color: white; padding: 20px; border: 1px solid #f0f0f0;">
          <%= yield %>
    		</td>
    	</tr>
    </table>

    <div style="font-size: 12px; color: #666; max-width: 600px; margin: 0 auto; text-align: center;">
        Delivered by <a style="color: #999;" href="<%= Cache.setting(:system, "Website URL") %>"><%= Cache.setting(:system, "Website Name") %></a>.			
    </div>
			
  </body>
</html>